<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="deptService" class="cn.mldn.myspring.context.service.IDeptService" abstract="true"/>
	<bean id="deptServiceImpl" class="cn.mldn.myspring.context.service.impl.DeptServiceImpl" parent="deptService">
		<property name="deptDAO" ref="deptDAOImpl"/>
	</bean>

</beans>
