<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="dept" class="cn.mldn.myspring.di.vo.Dept" p:deptno="10" p:dname="技术部" p:mgr-ref="emp"/>
	
	<bean id="emp" class="cn.mldn.myspring.di.vo.Emp">
		<property name="empno" value="7369"/>
		<property name="ename">
			<value>SMITH</value>
		</property>
		<property name="sal" value="800.0"/>
		<property name="dateUtil" ref="dateUtil"></property>
	</bean>
	<bean id="dateUtil" class="cn.mldn.myspring.di.util.DateUtil">
		<constructor-arg index="0" value="yyyy-MM-dd hh:mm:ss"/>
		<property name="date"><value>1982-10-09 16:34:23</value></property>
	</bean>
</beans>
